*{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'EB Garamond', serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
}
/* header styles */
.header{
    display: flex;
    background: rgba(229, 84, 115, 10%);
    padding: 50px 240px 0px 240px;
 
}
.column{
    flex: 50%;
}
.header h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 80px;
    color: #272727;
}
.text-box{
    text-align: left;
    margin-top: 150px;
}
.bannar-description{
    font-size: 18px;
    margin: 32px 0px;
    color: #272727;
    opacity: 60%;

}
.btn-primary{
    color: #FFFFFF;
    padding: 20px 43px;
    background-color:#E55473 ;
    border-radius: 8px;
    border: #E55473;
}
.header-bg{
    text-align: right;
}

/* featured styles */
#featured{
    padding: 50px 240px 0px 240px;
    text-align: center;
    margin-bottom: 200px;
}
.featured-title{
    font-size: 40px;
}
.featured-description{
    font-size: 18px;
    margin: 30px auto 60px auto;
    color: #272727;
    opacity: 60%;
}
#featured h5{
    text-decoration: underline;
}
.featured-flower{
    display: flex;
    flex: 33%;
    gap: 24px;
    
}
.featured-box{
    height: 600px;
}
.featured-box-1{
    background-color: rgba(167, 33, 98, 15%);
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    padding: 110px 78px 0px 78px;
    
}
.featured-box-2{
    background-color: rgba(5, 151, 160, 15%);
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    padding: 117px 47px 0px 47px;
    padding: 110px 78px 0px 78px;
   
}
.featured-box-3{
    background-color: rgba(71, 125, 17, 15%);
    border-radius: 300px 300px 0px 0px;
    height: 538px;
    padding: 67px 75px 0px 75px;
    padding: 110px 78px 0px 78px;
}
/* hot deal style  */
#hot-deal{
        padding: 200px 240px 0px 240px;
        text-align: center;
        background-color: rgba(167, 33, 98, 15%);;
}
#hot-deal h2{
    font-size: 40px;
}
#hot-deal p{
    font-size: 18px;
    margin: 30px auto;
    color: #272727;
    opacity: 60%;
}
.hot-deal{
    display: flex;
}
.hot-deal-left{
    flex: 50%;
}
.hot-deal-right{
    flex: 50%;
    /* margin-top: 100px;
    margin-bottom: 100px; */
}
/* social media style  */
.social-media{
    padding: 50px 240px;
    text-align: center;
}
.social-media h2{
    font-size: 40px;
}
.social-media p{
    font-size: 18px;
    margin: 30px auto;
    color: #272727;
    opacity: 60%;
}
.social-box{
    display: flex;
    justify-content: space-between;
    
}
/* get the latest deal styles  */
.letest-deals{
    background-image: url(/images/Rectangle-9.png);
    background-repeat: no-repeat;
    text-align: center;
    margin: 100px 240px;
    padding: 120px 287px;
}
.letest-deals h2{
    font-size: 40px;
}
.letest-deals p{
    font-size: 18px;
    margin: 0px auto 30px auto;
    color: #272727;
    opacity: 60%;
}
.letest-deals input{
    width: 500px;
    height: 60px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    margin-right: 10px;
}

/* footer styles  */
footer{
    background: #111010;
    color: #FFFFFF;
    padding: 120px 240px;
    text-align: center;
}
footer h1{
    font-size: 48px;
}
footer h1 span{
    color: #E55473;
}
.footer-description{
    color: rgba(255, 255, 255, 90%);
}
.copyright{
    color: rgba(255, 255, 255, 40%);
    margin-top: 50px;
}